
body {
  font-family:  -apple-system, BlinkMacSystemFont, 'Avenir Next', Avenir, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
